# Файлы конфигурации с чувствительными данными
accounts.txt
proxies.txt
state.json
ua.json

# Логи
*.log

# Системные файлы Python
__pycache__/
*.pyc

# Файлы IDE (если используешь, например, PyCharm или VSCode)
.idea/
.vscode/
